<div class="banner position-relative row mx-0">
  <div class="col-lg-8 row mx-0 bg-primary">
    <div class="col-lg-3"></div>

    <div
      class="col-lg-7 px-0 py-3 d-flex flex-column justify-content-between pb-5"
    >
      <h3 class="text-white">Peachy Pup<br />Bakery</h3>

      <div class="text-white">
        <h2>Tasty pastries</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the
        </p>

        <button class="my-3 btn btn-warning rounded px-4">see more</button>
      </div>
    </div>
  </div>
  <div class="col-lg-4 img-container d-none d-lg-flex align-items-center">
    <img src="../../../assets/images/sandwiches.png" class="img-fluid" alt="" />
  </div>
</div>
